@import url("../../variables.css");

.heading {
  margin: 0;
  font-family: "Tschick Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.level-1 {
  font-size: clamp(2.4rem, 5vw, 3.4rem);
  line-height: 1.1;
}

.level-2 {
  font-size: clamp(1.6rem, 4vw, 2.2rem);
  line-height: 1.15;
}

.level-3 {
  font-size: 1.4rem;
  line-height: 1.2;
}

.level-4 {
  font-size: 1.2rem;
  line-height: 1.2;
}

.level-5 {
  font-size: 1.05rem;
  line-height: 1.3;
}

.level-6 {
  font-size: 0.95rem;
  line-height: 1.3;
}

.tone-light {
  color: var(--color-white);
}

.tone-dark {
  color: var(--color-black);
}

.tone-accent {
  color: var(--color-magenta);
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.weight-regular {
  font-weight: 400;
}

.weight-medium {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}
