@import url("../variables.css");

:root {
  background-color: var(--color-black);
}

.about-container {
  max-width: 600px;
  padding: 2rem;
  margin: 0 auto;
  line-height: 1.6;
  color: var(--color-yellow);
  background-color: var(--color-magenta);
}

.about-container h1 {
  margin-block-start: 1.5rem;
  font-family: "Tschick Bold", sans-serif;
  color: var(--color-yellow);
  text-transform: uppercase;
}

.about-container figure {
  margin-block-end: 2rem;
}

ul {
  padding: 0;
  list-style: none; /* Removes the dots from the list items */
}

li {
  margin-bottom: 0.5rem; /* Adds spacing between list items */
}

@media (width <= 800px) {
  .about-container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

.card {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  margin-block-end: 1rem;
  vertical-align: middle;
  background-color: var(--color-light-bg);
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transform: scale(1.05);
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  color: var(--color-blue-light);
  text-align: center;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}
