.contact-container {
  padding: 2rem;
  font-family: "Europa Regular", sans-serif;
  line-height: 1.6;
  background-color: #ff0;
  color: #f0ff;
  max-width: 600px;
  margin: 0 auto;
}

@media (width <= 800px) {
  .contact-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
