@import url("../variables.css");

.discography-container {
  max-width: 600px;
  padding: 2rem;
  margin: 0 auto;
  font-family: "Europa Regular", sans-serif;
  line-height: 1.6;
  color: var(--color-magenta);
  background-color: var(--color-orange);
}

.discography-container h1 {
  margin-block-end: 2.5rem;
  font-family: "Tschick Bold", sans-serif;
  text-transform: uppercase;
}

.release-grid {
  display: grid;
  /* stylelint-disable-next-line unit-allowed-list */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.release img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.release img:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transform: scale(1.02);
}

.release h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.buy-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-block-end: 0.5rem;
  font-weight: 600;
  color: var(--color-orange);
  text-decoration: none;
  background-color: var(--color-magenta);
  border-radius: 4px;
}

.buy-link:hover {
  color: var(--color-white);
}

.mobile-dash {
  position: absolute;
  display: inline;
}

@media (width >= 801px) {
  .mobile-dash {
    display: none;
  }
}

@media (width <= 800px) {
  .discography-title {
    text-align: center;
  }

  .disco-break {
    display: inline-block;

    /* force break after dash on mobile */
    word-break: break-all;
  }

  .disco-break::after {
    display: block;
    white-space: pre;
    content: "\A";
  }

  .discography-container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
