.home-container {
  padding: 2rem;
  font-family: "Europa Regular", sans-serif;
  line-height: 1.6;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  max-width: 600px;
  margin: 0 auto;
}

.home-container h2 {
  font-family: "Tschick Bold", sans-serif;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* Add styles for the link */
.who-link {
  font-weight: bold;
  letter-spacing: 0.4rem;
  color: var(--color-primary);
  text-decoration: none;
}

/* Add hover styles for the link */
.who-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

@media (width <= 800px) {
  .home-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
