.listen-container {
  padding: 2rem;
  font-family: "Europa Regular", sans-serif;
  line-height: 1.6;
  background-color: #0f0;
  color: #f0f;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-family: "Tschick Bold", sans-serif;
  color: #f0f;
  text-transform: uppercase;
}

@media (width <= 800px) {
  .notfound-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
