@import url("../variables.css");

.listen-container {
  max-width: 600px;
  padding: 2rem;
  margin: 0 auto;
  font-family: "Europa Regular", sans-serif;
  line-height: 1.6;
  color: var(--color-magenta);
  background-color: var(--color-green);
}

h1 {
  font-family: "Tschick Bold", sans-serif;
  color: var(--color-magenta);
  text-transform: uppercase;
}

@media (width <= 800px) {
  .notfound-container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
