@import url("../variables.css");

.notfound-container {
  position: relative;
  width: 35%;
  max-width: 800px;
  height: 338px;
  padding: 2rem;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Europa Regular", sans-serif;
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h1 {
  margin-bottom: 0.5rem;
  font-family: "Tschick Bold", sans-serif;
  color: var(--color-magenta);
  text-transform: uppercase;
}

p {
  margin-top: 0.5rem;
}

.notfound-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-weight: 600;
  color: var(--color-white);
  text-decoration: none;
  background-color: var(--color-magenta);
  border-radius: 4px;
}

@media (width <= 800px) {
  .notfound-container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

/* Add styles for the background video */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(100%);
  clip-path: inset(0 10% 30% 18%); /* Crops the bottom half of the video */
  transform: scale(0.8); /* Zoom out the video by 10% */
}
