@import url("../variables.css");

.alert {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  min-block-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: "Europa Regular", sans-serif;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
  background: none;
  border: none;
}

.close-button svg {
  width: 100%;
  height: 100%;
  fill: var(--color-white);
}

.info {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.success {
  color: var(--color-black);
  background-color: var(--color-green);
}

.success .close-button {
  color: var(--color-black); /* Override tertiary button color */
}

.warning {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

.warning .close-button {
  color: var(--color-black); /* Override tertiary button color */
}

.error {
  color: var(--color-white);
  background-color: var(--color-magenta);
}
