@import url("../variables.css");

.alert {
  padding: 1rem;
  font-family: "Europa Regular", sans-serif;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-block-size: 1.5rem;
}

.close-button {
  border: none;
  cursor: pointer;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  margin-left: auto;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button svg {
  width: 100%;
  height: 100%;
  fill: var(--color-white);
}

.info {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.success {
  background-color: var(--color-green);
  color: var(--color-black);
}

.success .close-button {
  color: var(--color-black); /* Override tertiary button color */
}

.warning {
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.warning .close-button {
  color: var(--color-black); /* Override tertiary button color */
}

.error {
  background-color: var(--color-magenta);
  color: var(--color-white);
}
