@import url("../variables.css");

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  background: #000;
  border-radius: 50%;
}

.avatar-image {
  background-size: cover;
  border-radius: 50%;
}
