@import url("../variables.css");

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-family: Europa, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  border-radius: 4px;
}

.default {
  color: var(--color-black);
  background-color: var(--color-gray);
}

.primary {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.success {
  color: var(--color-black);
  background-color: var(--color-green);
}

.danger {
  color: var(--color-white);
  background-color: var(--color-red);
}

.secondary {
  box-sizing: border-box;
  color: var(--color-blue);
  background-color: transparent;
  border: 1px solid var(--color-blue);
}

.tertiary {
  color: var(--color-blue);
  background-color: var(--color-light-gray);
}

.disabled {
  color: var(--color-gray-dark);
  cursor: not-allowed;
  background-color: var(--color-gray-light);
}
