@import "../variants.css";
.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  font-family: "Tschick Bold", sans-serif;
}

.default {
  background-color: var(--color-gray);
  color: var(--color-black);
}

.primary {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.success {
  background-color: var(--color-green);
  color: var(--color-black);
}

.danger {
  background-color: var(--color-red);
  color: var(--color-white);
}
