@import url("../variables.css");

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 1rem;
  font-family: "Tschick Bold", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.primary {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.secondary {
  color: var(--color-blue);
  background-color: transparent;
  border: 1px solid var(--color-blue);
}

.danger {
  color: var(--color-white);
  background-color: var(--color-red);
}

.tertiary {
  color: var(--color-blue);
  background-color: transparent;
  border: none;
}

.success {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-green);
  border: none;
  border-radius: 4px;
}

.button .icon {
  vertical-align: middle;
  color: inherit;
}

.button:disabled {
  color: var(--color-gray-dark);
  cursor: not-allowed;
  background-color: var(--color-gray-light);
  border-color: inherit;
}

.button:disabled .icon {
  color: inherit;
}

.icon-only {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
}

.text-with-icon {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
}
