@import url("../variables.css");

.container {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  font-family: "Europa Regular", sans-serif;
  color: var(--color-white);
  cursor: pointer;
}

.checkbox {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--color-blue);
  border-radius: 2px;
}

.checkbox:checked {
  background-color: var(--color-blue);
}

.checkbox:checked::after {
  position: absolute;
  top: 0.1rem;
  left: 0.35rem;
  width: 0.4rem;
  height: 0.7rem;
  content: "";
  border: solid var(--color-white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.label {
  font-family: "Europa Regular", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-blue);
}

.checkbox:disabled {
  color: var(--color-dark-gray);
  cursor: not-allowed;
  background-color: transparent;
  border-color: var(--color-gray-medium);
}

.disabled-label {
  color: var(--color-gray-medium);
  cursor: not-allowed;
}

.checkbox:checked:disabled {
  cursor: not-allowed;
  background-color: var(--color-gray-light);
  border-color: var(--color-gray-medium);
}
