@import url("../variables.css");

.content {
  max-width: 50rem;
  font-family: "Europa Regular", sans-serif;
  text-align: center;
}

.content h2 {
  margin-bottom: 2rem;
  font-family: "Tschick Bold", sans-serif;
  color: var(--color-magenta);
  text-transform: uppercase;
}

.content p {
  margin-bottom: 2rem;
  line-height: 1.3;
  color: var(--color-blue);
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (width <= 1200px) {
  .content {
    max-width: 80%;
    margin-inline: 2rem;
  }

  .actions {
    flex-direction: column;
    align-items: center;
  }
}
