@import url("../variables.css");

.content {
  font-family: "Europa Regular", sans-serif;
  text-align: center;
  max-width: 800px;
}

.content h2 {
  font-family: "Tschick Bold", sans-serif;
  color: var(--color-magenta);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.content p {
  line-height: 1.3;
  color: var(--color-blue);
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
