header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav ul li a {
  font-family: "Tschick Bold", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

header img {
  width: 90vw;
  height: auto;
  margin: 0;
}

@media (width <= 800px) {
  header img {
    margin: 0 auto;
    display: block;
  }
}
