.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-link);
}

.input {
  font-family: "Europa Regular", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.input::placeholder {
  color: #888;
  font-style: italic;
}
