@import url("../variables.css");

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--color-blue);
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-family: "Europa Regular", sans-serif;
  font-size: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}

.input::placeholder {
  font-style: italic;
  color: var(--color-gray-medium);
}

.error-message {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--color-red);
}

.error-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 0.375rem;
}
