@import url("../variables.css");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
}

.modal {
  position: relative;
  padding: 2rem;
  font-family: "Europa Regular", sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-family: "Tschick Bold", sans-serif;
  font-size: 1.5rem;
  color: var(--color-blue);
  cursor: pointer;
  background: none;
  border: none;
}
