@import url("../variables.css");

.select-wrapper {
  position: relative;
  display: inline-block;
}

.chevron-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  width: 20px;
  height: 20px;
  color: #888;
  pointer-events: none;
  transform: translateY(-50%);
}

.select {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  font-family: "Europa Regular", sans-serif;
  font-size: 1rem;
  color: var(--color-black);
  appearance: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}
