@import url("../variables.css");

.spinner {
  width: 3rem;
  height: 3rem;
  margin: auto;
  border: 4px solid rgb(0 0 0 / 10%);
  border-top: 4px solid var(--color-black);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
