@import url("../variables.css");

.text-area-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.label {
  margin-bottom: 0.5rem;
  font-family: "Europa Regular", sans-serif;
  font-weight: 600;
  color: var(--color-blue);
}

.text-area {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  font-family: "Europa Regular", sans-serif;
  font-size: 1rem;
  resize: both;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}

.text-area::placeholder {
  font-style: italic;
  color: var(--color-gray-medium);
}
