.text-area-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.label {
  font-family: "Europa Regular", sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-link);
}

.text-area {
  font-family: "Europa Regular", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  resize: both;
}

.text-area::placeholder {
  color: #888;
  font-style: italic;
}
