@import url("../variables.css");

footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  padding: 1rem;
  margin-top: auto;
  font-family: "Europa Regular", sans-serif;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-black);
}

.social-links {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin-top: 1rem;
  vertical-align: middle;
}

.bandcamp-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.bandcamp-link > svg {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: auto;
}

.footer-copyright {
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
}

@media (width <= 800px) {
  footer {
    padding: 0.2rem;
  }
}

/* Styles for hiding elements on mobile */
.hide-on-mobile {
  display: inline;
}

@media (width <= 800px) {
  .hide-on-mobile {
    display: none;
  }
}
